certifi==2020.12.5
cycler==0.10.0
dataclasses==0.8
fire==0.1.3
kiwisolver==1.3.1
lmdb==0.94
matplotlib==3.3.4
numpy==1.19.5
Pillow==8.1.0
pyarrow==0.10.0
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.5.4
six==1.11.0
torch==1.7.1
torchvision==0.8.2
tqdm==4.26.0
typing-extensions==3.7.4.3
u-msgpack-python==2.5.0
